<div style="margin-left:20px;">
    <br>
    <h6>CULTURE</h6 style="margin-bottom:-10%">
    <hr>
    <div class=row>
        <p class="col-8">
            De par la diversité de nos compétences, de notre expertise et de nos savoir-faire, nous apportons aux dirigeants les informations et les éléments d’analyses propres à éclairer leurs réflexion, à guider leurs choix afin d’arriver aux solutions pragmatiques et opérationnelles requises.
            <br><br>
            Notre expérience et notre compétence à l’international nous placent parmi les partenaires privilégiés de groupes internationaux et de sociétés étrangères souhaitant s’implanter en France.
        </p>
        <img src="assets/images/culture" alt="..." class=" img-section col-3"  >
    </div>
    <br>
    <div class=row>
        <p class="col-11">
            Notre cabinet a été créé en 2008 par Philippe Campos, Associé Gérant, Expert Comptable et Commissaire aux Comptes. Il est également Expert Financier auprès des tribunaux (Expert inscrit près la Cour d’Appel de Paris et de Versailles, Expert devant la Cour Pénale Internationale de La Haye). Il peut intervenir en qualité d’Arbitre, notamment sur les litiges financiers (Arbitre agréé par le Centre de Médiation et d’Arbitrage de Paris, membre de l’Association Française d’Arbitrage). Il est assisté d’une équipe de professionnels expérimentés.
        </p>
    </div>
    <div class=row>
        <p class="col-11">
            Nous sommes des professionnels du chiffre avec un positionnement sur des prestations sur-mesure et à haute valeur ajoutée. La volonté du fondateur est de rester un cabinet à taille humaine afin de conserver notre très forte réactivité.
        </p>
    </div>
</div>